@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background: rgb(255, 253, 250) ;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

@media only screen and (max-width: 639px) {
  body {
    height: auto;
  }
}